.topBox{
    background-color: red;    
}

.mobile-menu{
    color: red;
   
    font-size: 15pt;
}

.mobile-item{
     display: block;
     text-decoration: none;
     height: 40px;
     text-align: middle;
     line-height: 37px;
     padding-left: 20px;
}

.mobile-item:hover{
     display: block;
     text-decoration: none;
     background: #f1f1f1;
     cursor: pointer;
}