<div class="places index">
	<div class="row">
               <div class="col-lg-4">
                <?php 				
                        echo ("<br/>");
                        echo $this->Form->create('Search',array('url'=>array('controller'=>'places', 'action'=>'index')));
                        echo $this->Form->input('tag', array('type'=>'text', 'label'=>__('Szukana atrakcja'), 'class'=>'form-control'));
                        echo ("</div><div style='position: relative; top: 51px; left: -20px;' class='col-lg-3'>");
                        echo $this->Form->button('<span class="glyphicon glyphicon-search" aria-hidden="true"></span>', array(
                                'type' => 'submit',
                                'class' => 'btn btn-info',
                                'escape' => false
                        ));
                        echo $this->Form->end();
                ?>
			</div></div>
	<h2><?php echo __('Lista Atrakcji'); ?></h2>
	<table cellpadding="0" cellspacing="0" style="" class="table table-hover table-striped">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('country_id', 'Kraj'); ?></th>
			<th class="hidden-xs"><?php echo $this->Paginator->sort('city', 'Miasto'); ?></th>
			<th><?php echo $this->Paginator->sort('name', 'Nazwa atrakcji'); ?></th>
			<th class="hidden-xs"><?php echo $this->Paginator->sort('description', 'Opis'); ?></th>
			<th class="hidden-xs"><?php echo $this->Paginator->sort('created', 'Dodano'); ?></th>
			<th class="actions"><?php echo __('Akcje'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($places as $place): ?>
	<tr>
	<td class="hidden-xs"><?php echo htmlentities(($place['Country']['name'])); ?></td>
				<td><?php echo htmlentities(h($place['Place']['city'])); ?>&nbsp;</td>
		<td><?php echo (h($place['Place']['name'])); ?>&nbsp;</td>
		<td class="hidden-xs"><?php 
		
			echo  htmlentities(substr(($place['Place']['description']), 0, 70));
			echo "...";
		
		?>&nbsp;</td>

		<td class="hidden-xs"><?php echo h($place['Place']['created']); ?>&nbsp;</td>
		
		<td class="actions">
			<?php echo $this->Html->link("<span style='color:#337AB7' class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>", array('action' => 'view', $place['Place']['id']),  array('escape' => false)); ?>
			<?php if($current_user['username'] == $place['Place']['author'] || $current_user['role'] == 'admin' ):?>
				<?php echo $this->Html->link("<span style='color:#337AB7' class='glyphicon glyphicon-pencil' aria-hidden='true'></span>", array('action' => 'edit', $place['Place']['id']),  array('escape' => false)); ?>
								<?php 
				echo $this->Form->postLink(
						$this->Html->tag('span', '', array('class' => 'glyphicon glyphicon-trash', 'style'=>'color: red;')),
						array('action' => 'delete', $place['Place']['id']),
						array('escape'=>false),__('na pewno usunąć?', $place['Place']['id']),
						array('class' => 'btn btn-mini')
				);

				?>
				<?php //echo $this->Form->postLink(__('Usuń'), array('action' => 'delete', $place['Place']['id']), array(), __('Are you sure you want to delete # %s?', $place['Place']['id'])); ?>
			<?php endif;?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	
	<div class="paging">
	<?php
		//echo $this->Paginator->prev('< ' . __('poprzedni '), array(), null, array('class' => 'prev disabled'));
		//echo $this->Paginator->numbers(array('separator' => ''));
		//echo $this->Paginator->next(__(' następny') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Co chcesz zrobić?'); ?></h3>
	<ol>
		<ul><?php echo $this->Html->link(__('Dodaj nową atrakcję'), array('action' => 'add')); ?></li>
	</ol>
</div>
